.content-swiper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .swiper {
        width: calc(100% - 96px);

        .swiper-wrapper .swiper-slide {
            height: auto !important;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: color-mix(in srgb, var(--dark-color-portfolio) 80%, transparent);
            border: 2px solid var(--secondary-color-portfolio);
            border-radius: 16px;
            backdrop-filter: blur(10px);
            overflow: hidden;

            &>div:has(> .btn:hover) .image-swiper img {
                transform: scale(1.1);
            }

            .image-swiper {
                border-bottom: 2px solid var(--secondary-color-portfolio);

                img {
                    transition: all 300ms ease;
                }
            }

            strong {
                color: var(--text-color-portfolio);
            }

            .btn {
                transform: none;
            }
        }
    }

    .swiper-button-prev, .swiper-button-next {
        width: auto;
        height: auto;
        padding: 4px;
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        background-color: var(--primary-color-portfolio);
        border: 2px solid var(--primary-color-portfolio);
        border-radius: 32px;
        transition: all 300ms ease-in;
        z-index: 1;

        &:hover {
            background-color: transparent;
            transform: scale(1.2);

            svg {
                fill: var(--primary-color-portfolio);
            }
        }

        &::after {
            content: none;
        }

        svg {
            width: 24px;
            height: 24px;
            fill: var(--dark-color-portfolio);
        }
    }
}

.modal-swiper {
    .modal-content {
        color: var(--text-color-portfolio);
        background-color: var(--dark-color-portfolio);
        border: 2px solid var(--secondary-color-portfolio);
        border-radius: 8px;

        .modal-header {
            border-bottom: 2px solid var(--secondary-color-portfolio);

            .btn-close {
                background: none;
                background-color: var(--white-color-portfolio);
                mask-image: url("../../assets/images/svg/close.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
                filter: none;
                color: var(--white-color-portfolio);
                opacity: 1;
            }
        }
    }

    .modal-body {
        strong {
            color: var(--text-color-portfolio);
        }

        .btn {
            width: max-content;
            margin: 0 auto;
        }
    }
}

.modal-backdrop {
    background-color: color-mix(in srgb, var(--dark-color-portfolio) 30%, transparent);
    backdrop-filter: blur(4px);
    opacity: 1 !important;
}