.content-swiper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .swiper {
        width: calc(100% - 96px);
        box-shadow: var(--box-light-shadow-portfolio);

        .swiper-wrapper .swiper-slide {
            height: auto !important;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 2px solid var(--primary-color-portfolio);
            box-shadow: var(--box-light-shadow-portfolio);
        }
    }

    .swiper-button-prev, .swiper-button-next {
        width: auto;
        height: auto;
        padding: 2px;
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        border: 2px solid var(--primary-color-portfolio);
        box-shadow: var(--box-shadow-portfolio);
        transition: all 300ms ease-in;

        &:hover {
            transform: scale(1.08);
            animation: borderBtnPrimary 1.2s infinite ease-in-out;
        }

        &::after {
            content: "";
            width: 24px;
            height: 24px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            aspect-ratio: 1/1;
            filter: var(--filter-shadow-portfolio);
            mix-blend-mode: screen;
        }
    }

    .swiper-button-prev::after {
        background-image: url("../../assets/images/svg/arrow_back.svg");
    }

    .swiper-button-next::after {
        background-image: url("../../assets/images/svg/arrow_forward.svg");
    }
}