.content-swiper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .swiper {
        width: calc(100% - 96px);

        .swiper-wrapper .swiper-slide {
            height: auto !important;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 2px solid var(--primary-color-portfolio);

            img {
                transition: all 300ms ease;

                &:hover {
                    transform: scale(1.03);
                }
            }
        }
    }

    .swiper-button-prev, .swiper-button-next {
        width: auto;
        height: auto;
        padding: 2px;
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        border: 2px solid var(--primary-color-portfolio);
        transition: all 300ms ease-in;

        &:hover {
            transform: scale(1.08);
        }

        &::after {
            content: "";
            width: 24px;
            height: 24px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            aspect-ratio: 1/1;
            mix-blend-mode: screen;
        }
    }

    .swiper-button-prev::after {
        background-image: url("../../assets/images/svg/arrow_back.svg");
    }

    .swiper-button-next::after {
        background-image: url("../../assets/images/svg/arrow_forward.svg");
    }
}