<section id="presenting">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6 d-flex flex-column justify-content-center gap-5">
                <div class="d-flex flex-column gap-2">
                    <h1 class="m-0">Corentin Diard</h1>
                    <p class="m-0">Développeur Web</p>
                </div>
                <p class="m-0">
                    Passionné par mon métier, j’aime concevoir des expériences en ligne à la fois fonctionnelles et
                    esthétiques. Pour moi, le code est un véritable outil de création, il me permet de transformer des
                    idées en projets concrets et interactifs. Curieux et créatif, je suis toujours à la recherche de
                    nouvelles technologies et de solutions innovantes pour repousser les limites du web.
                </p>
                <div class="d-flex flex-row flex-wrap gap-3">
                    <a class="btn btn-primary" href="/pdf/2023_cv_corentin_diard.pdf" target="_blank"
                       download="2023_cv_corentin_diard.pdf" title="Télécharger mon CV">
                        <app-svg icon="download"></app-svg>
                        Télécharger mon CV
                    </a>
                    <a class="btn btn-secondary" href="#contact" title="Contactez-moi">
                        Contactez-moi
                        <app-svg icon="arrow_right"></app-svg>
                    </a>
                </div>
            </div>

            <div class="col-12 col-xl-6">
                <img src="/src/assets/images/profile_picture.png" class="img-fluid" alt="Photo de profile">
            </div>
        </div>
    </div>
</section>

<hr class="w-50 mx-auto my-5"/>

<section id="realization">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-column gap-4">
                <div class="d-flex flex-column align-items-center gap-3">
                    <h2 class="m-0">Réalisations</h2>
                    <p class="m-0 w-75 text-center">
                        Découvrez une sélection de projets sur lesquels j’ai travaillé, des créations web alliant
                        design,
                        développement et innovation, conçues pour illustrer mon savoir-faire et ma vision du numérique.
                    </p>
                </div>

                <!--                slider-->
            </div>
        </div>
    </div>
</section>

<hr class="w-50 mx-auto my-5"/>

<section id="resume">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6 d-flex flex-column gap-3">
                <div class="d-flex flex-column gap-3">
                    <h2 class="m-0">Formations</h2>
                    <div class="d-flex flex-column gap-2">
                        <div class="d-flex flex-row gap-3">
                            <p class="date-resume m-0"><strong>2023</strong></p>
                            <p class="m-0">Licence professionnelle, Métiers de l’informatique : application web</p>
                        </div>
                        <div class="d-flex flex-row gap-3">
                            <p class="date-resume m-0"><strong>2022</strong></p>
                            <p class="m-0">DUT Métiers du multimédia et de l'internet</p>
                        </div>
                        <div class="d-flex flex-row gap-3">
                            <p class="date-resume m-0"><strong>2020</strong></p>
                            <p class="m-0">
                                BAC Technologique, Sciences et technologies de l'industrie et du développement durable
                            </p>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-column gap-3">
                    <h2 class="m-0">Expériences</h2>
                    <div class="d-flex flex-column gap-2">
                        <div class="d-flex flex-row gap-3">
                            <p class="date-resume m-0"><strong>Novembre 2023</strong></p>
                            <p class="m-0">
                                CDD de 2 ans et 4 mois dans la direction du numérique de l’Université de Reims
                                Champagne-Ardenne
                            </p>
                        </div>
                        <div class="d-flex flex-row gap-3">
                            <p class="date-resume m-0"><strong>Août 2022</strong></p>
                            <p class="m-0">Alternance de 1 an dans l’entreprise Net.Com</p>
                        </div>
                        <div class="d-flex flex-row gap-3">
                            <p class="date-resume m-0"><strong>Avril 2022</strong></p>
                            <p class="m-0">
                                Stage de 8 semaines dans la maison du patrimoine de Troyes Champagne Métropole
                            </p>
                        </div>
                        <div class="d-flex flex-row gap-3">
                            <p class="date-resume m-0"><strong>Janvier 2022</strong></p>
                            <p class="m-0">
                                Stage de 3 semaines dans l’association du Club Nautique Aubois
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-6">
                <div class="d-flex flex-column gap-3">
                    <h2 class="m-0">Compétences</h2>
                    <div class="d-flex flex-column gap-2 p-2">
                        <p class="m-0"><strong>Développement web</strong></p>
                        <div class="d-flex flex-row flex-wrap gap-2">
                            <p class="text-skills m-0">HTML</p>
                            <p class="text-skills m-0">CSS</p>
                            <p class="text-skills m-0">PHP</p>
                            <p class="text-skills m-0">JavaScript</p>
                            <p class="text-skills m-0">WordPress</p>
                            <p class="text-skills m-0">Symfony</p>
                            <p class="text-skills m-0">API Platform</p>
                            <p class="text-skills m-0">Node.js</p>
                            <p class="text-skills m-0">Express.js</p>
                            <p class="text-skills m-0">Webpack</p>
                            <p class="text-skills m-0">Vue.js</p>
                            <p class="text-skills m-0">Angular</p>
                            <p class="text-skills m-0">React</p>
                            <p class="text-skills m-0">Bootstrap</p>
                            <p class="text-skills m-0">MySQL</p>
                            <p class="text-skills m-0">phpMyAdmin</p>
                            <p class="text-skills m-0">PhpStorm</p>
                            <p class="text-skills m-0">WebStorm</p>
                            <p class="text-skills m-0">Visual Studio Code</p>
                            <p class="text-skills m-0">Postman</p>
                            <p class="text-skills m-0">GitHub</p>
                            <p class="text-skills m-0">GitLab</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-2 p-2">
                        <p class="m-0"><strong>Webdesign</strong></p>
                        <div class="d-flex flex-row flex-wrap gap-2">
                            <p class="text-skills m-0">Figma</p>
                            <p class="text-skills m-0">Adobe Illustrator</p>
                            <p class="text-skills m-0">Adobe Photoshop</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="d-flex flex-row justify-content-center">
                    <a class="btn btn-primary" href="/pdf/2023_cv_corentin_diard.pdf" target="_blank"
                       download="2023_cv_corentin_diard.pdf" title="Télécharger mon CV">
                        <app-svg icon="download"></app-svg>
                        Télécharger mon CV
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="w-50 mx-auto my-5"/>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6 d-flex flex-column gap-3">
                <h2 class="m-0">Contact</h2>
                <div class="d-flex flex-column gap-2">
                    <div class="d-flex flex-row gap-3 position-relative">
                        <app-svg icon="mail"></app-svg>
                        <a href="mailto:contact@corentindiard.fr" title="Me contacter par mail" class="stretched-link">
                            contact@corentindiard.fr
                        </a>
                    </div>
                    <div class="d-flex flex-row gap-3 position-relative">
                        <app-svg icon="call"></app-svg>
                        <a href="tel:+33781996590" title="Me contacter par téléphone" class="stretched-link">
                            07 81 99 65 90
                        </a>
                    </div>
                    <div class="d-flex flex-row gap-3 position-relative">
                        <app-svg icon="linkedin"></app-svg>
                        <a href="https://www.linkedin.com/in/corentin-diard/" target="_blank" title="Mon LinkedIn"
                           class="stretched-link">
                            Corentin Diard
                        </a>
                    </div>
                    <div class="d-flex flex-row gap-3 position-relative">
                        <app-svg icon="github"></app-svg>
                        <a href="https://github.com/CDiard" target="_blank" title="Mon GitHub" class="stretched-link">
                            CDiard
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-6">
                <form class="d-flex flex-column gap-3">
                    <div class="d-flex flex-row gap-3">
                        <div class="w-50">
                            <label for="firstname" class="form-label">Prénom*</label>
                            <input type="text" class="form-control" id="firstname" placeholder="John" required>
                        </div>
                        <div class="w-50">
                            <label for="lastname" class="form-label">Nom*</label>
                            <input type="text" class="form-control" id="lastname" placeholder="Doe" required>
                        </div>
                    </div>
                    <div>
                        <label for="email" class="form-label">Adresse e-mail*</label>
                        <input type="email" class="form-control" id="email" placeholder="john.doe@gmail.com" required>
                    </div>
                    <div>
                        <label for="subject" class="form-label">Sujet*</label>
                        <input type="text" class="form-control" id="subject" placeholder="Demande d'informations"
                               required>
                    </div>
                    <div>
                        <label for="message" class="form-label">Message*</label>
                        <textarea class="form-control" id="message" rows="4"
                                  placeholder="Pourriez-vous m'envoyer plus d'informations ?" required></textarea>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">
                            Envoyer
                            <app-svg icon="send"></app-svg>
                        </button>
                    </div>
                    <p class="m-0">* Obligatoire</p>
                </form>
            </div>
        </div>
    </div>
</section>