<section id="presenting">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6 d-flex flex-column justify-content-center gap-5">
                <div class="d-flex flex-column gap-2">
                    <h1 class="glow-effect m-0">Corentin Diard</h1>
                    <p class="glow-effect subtitle m-0">Développeur Web</p>
                </div>
                <p class="glow-effect text-justify m-0">
                    Passionné par mon métier, j’aime concevoir des expériences en ligne à la fois fonctionnelles et
                    esthétiques. Pour moi, le code est un véritable outil de création, il me permet de transformer des
                    idées en projets concrets et interactifs. Curieux et créatif, je suis toujours à la recherche de
                    nouvelles technologies et de solutions innovantes pour repousser les limites du web.
                </p>
                <div class="d-flex flex-row flex-wrap gap-3">
                    <a class="btn btn-primary btn-icon-left glow-effect" href="/documents/2025_cv_corentin_diard.pdf"
                       target="_blank"
                       download="2025_cv_corentin_diard.pdf" title="Télécharger mon CV">
                        <span>
                            <app-svg icon="download"></app-svg>
                            Télécharger mon CV
                        </span>
                    </a>
                    <a class="btn btn-secondary glow-effect" href="#contact" title="Contactez-moi">
                        <span>
                            Contactez-moi
                            <app-svg icon="arrow_right"></app-svg>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-12 col-xl-6 order-first order-xl-last">
                <img src="/src/assets/images/profile_picture.png" class="img-fluid" alt="Photo de profil">
            </div>
        </div>
    </div>
</section>

<hr class="w-50 mx-auto my-5"/>

<section id="realization">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-column gap-4">
                <div class="d-flex flex-column align-items-center gap-3">
                    <h2 class="glow-effect m-0">Réalisations</h2>
                    <p class="glow-effect m-0 w-75 text-center">
                        Découvrez une sélection de projets sur lesquels j’ai travaillé, des créations web alliant
                        design,
                        développement et innovation, conçues pour illustrer mon savoir-faire et ma vision du numérique.
                    </p>
                </div>

                <app-swiper></app-swiper>
            </div>
        </div>
    </div>
</section>

<hr class="w-50 mx-auto my-5"/>

<section id="resume">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6 d-flex flex-column gap-3">
                <app-training></app-training>

                <app-experience></app-experience>
            </div>

            <div class="col-12 col-xl-6">
                <app-skill></app-skill>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="d-flex flex-row justify-content-center">
                    <a class="btn btn-primary btn-icon-left glow-effect" href="/documents/2025_cv_corentin_diard.pdf"
                       target="_blank"
                       download="2025_cv_corentin_diard.pdf" title="Télécharger mon CV">
                        <span>
                            <app-svg icon="download"></app-svg>
                            Télécharger mon CV
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="w-50 mx-auto my-5"/>
<app-contact></app-contact>