<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6 d-flex flex-column gap-3">
                <h2 class="glow-effect m-0">Contact</h2>
                <div class="d-flex flex-column gap-2">
                    <div class="d-flex flex-row gap-3">
                        <app-svg icon="mail"></app-svg>
                        <a href="mailto:contact@corentindiard.fr" title="Me contacter par mail"
                           class="glow-effect">
                            contact@corentindiard.fr
                        </a>
                    </div>
                    <div class="d-flex flex-row gap-3">
                        <app-svg icon="call"></app-svg>
                        <a href="tel:+33781996590" title="Me contacter par téléphone"
                           class="glow-effect">
                            07 81 99 65 90
                        </a>
                    </div>
                    <div class="d-flex flex-row gap-3">
                        <app-svg icon="linkedin"></app-svg>
                        <a href="https://www.linkedin.com/in/corentin-diard/" target="_blank" title="Mon LinkedIn"
                           class="glow-effect">
                            Corentin Diard
                        </a>
                    </div>
                    <div class="d-flex flex-row gap-3">
                        <app-svg icon="github"></app-svg>
                        <a href="https://github.com/CDiard" target="_blank" title="Mon GitHub"
                           class="glow-effect">
                            CDiard
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-6">
                <form class="d-flex flex-column gap-3">
                    <div class="d-flex flex-row gap-3">
                        <div class="w-50">
                            <label for="firstname" class="glow-effect form-label">Prénom*</label>
                            <input type="text" class="form-control" id="firstname" placeholder="John" required>
                        </div>
                        <div class="w-50">
                            <label for="lastname" class="glow-effect form-label">Nom*</label>
                            <input type="text" class="form-control" id="lastname" placeholder="Doe" required>
                        </div>
                    </div>
                    <div>
                        <label for="email" class="glow-effect form-label">Adresse e-mail*</label>
                        <input type="email" class="form-control" id="email" placeholder="john.doe@gmail.com" required>
                    </div>
                    <div>
                        <label for="subject" class="glow-effect form-label">Sujet*</label>
                        <input type="text" class="form-control" id="subject" placeholder="Demande d'informations"
                               required>
                    </div>
                    <div>
                        <label for="message" class="glow-effect form-label">Message*</label>
                        <textarea class="form-textarea form-control" id="message" rows="4"
                                  placeholder="Pourriez-vous m'envoyer plus d'informations ?" required></textarea>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-icon-right glow-effect" type="submit">
                            <span>
                                Envoyer
                                <app-svg icon="send"></app-svg>
                            </span>
                        </button>
                    </div>
                    <p class="glow-effect m-0">* Obligatoire</p>
                </form>
            </div>
        </div>
    </div>
</section>