.links-contact {
    .link-contact {
        width: max-content;
        position: relative;

        &::before {
            content: "";
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, color-mix(in srgb, var(--dark-color-portfolio) 50%, transparent) 0%, transparent 100%);
            border-radius: 4px;
            opacity: 0;
            z-index: -1;
            transition: all 300ms ease-in;
        }

        &:has(> a:hover)::before {
            width: calc(100% + 64px);
            opacity: 1;
        }

        svg {
            fill: var(--secondary-color-portfolio);
        }
    }
}

.form-contact {
    border-radius: 16px;
    border: 2px solid var(--secondary-color-portfolio);
    background: color-mix(in srgb, var(--dark-color-portfolio) 80%, transparent);
    backdrop-filter: blur(10px);

    .error-message {
        margin: 0;
    }

    #responseMessage {
        display: none;
    }
}