<header class="mb-5 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="link-header">
                    <a href="#presenting" class="btn btn-icon-only" title="Page principale">
                        <app-svg icon="home"></app-svg>
                    </a>
                </div>
            </div>
            <div class="col-6 d-flex flex-row justify-content-end gap-4">
                <div class="link-header">
                    <a href="https://www.linkedin.com/in/corentin-diard/" target="_blank"
                       class="btn btn-icon-only" title="Mon LinkedIn">
                        <app-svg icon="linkedin"></app-svg>
                    </a>
                </div>
                <div class="link-header">
                    <a href="https://github.com/CDiard" target="_blank" class="btn btn-icon-only"
                       title="Mon GitHub">
                        <app-svg icon="github"></app-svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>