.links-header {
    border-radius: 56px;
    background: color-mix(in srgb, var(--dark-color-portfolio) 80%, transparent);
    backdrop-filter: blur(10px);

    .link-header {
        border-radius: 48px;
        background: color-mix(in srgb, var(--white-color-portfolio) 10%, transparent);
        transition: transform 200ms ease-in;

        &:has(> a:hover) {
            transform: scale(1.2);
        }

        a {
            width: min-content;
            padding: 0;
            position: static;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &:hover {
                transform: none;
            }

            svg {
                width: 40px;
                height: 40px;
            }
        }
    }
}