<header class="mb-5 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-row justify-content-end">
                <div class="d-flex flex-row gap-4 position-fixed z-3">
                    <div class="link-header">
                        <a href="https://www.linkedin.com/in/corentin-diard/" target="_blank"
                           class="btn btn-icon-only" title="Mon LinkedIn">
                            <app-svg icon="linkedin"></app-svg>
                        </a>
                    </div>
                    <div class="link-header">
                        <a href="https://github.com/CDiard" target="_blank" class="btn btn-icon-only"
                           title="Mon GitHub">
                            <app-svg icon="github"></app-svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>