<header class="mb-5 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div>
                    <a href="#presenting" title="Page principale">
                        <app-svg icon="home"></app-svg>
                    </a>
                </div>
            </div>
            <div class="col-6 d-flex flex-row justify-content-end gap-4">
                <div>
                    <a href="https://www.linkedin.com/in/corentin-diard/" target="_blank" title="Mon LinkedIn">
                        <app-svg icon="linkedin"></app-svg>
                    </a>
                </div>
                <div>
                    <a href="https://github.com/CDiard" target="_blank" title="Mon GitHub">
                        <app-svg icon="github"></app-svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>