.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: none;
    border: none;
    border-radius: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 200ms ease-in;

    &:hover {
        background: none;
        border: none;
        color: unset;
        transform: scale(1.08);
    }

    &:active {
        border-color: unset !important;
    }

    &:focus-visible {
        color: inherit;
        background-color: transparent;
        border-color: unset !important;
        outline: none;
        box-shadow: unset !important;
    }

    &.btn-primary {
        height: 32px;
        padding: 8px 16px;
        color: var(--dark-color-portfolio);
        background-color: var(--primary-color-portfolio);
        border: 2px solid var(--primary-color-portfolio);
        border-radius: 16px;

        &.btn-icon-right {
            padding: 8px 10px 8px 16px;
        }

        &.btn-icon-left {
            padding: 8px 16px 8px 10px;
        }

        &:hover {
            color: var(--primary-color-portfolio);
            background-color: transparent;
            border: 2px solid var(--primary-color-portfolio);

            svg {
                fill: var(--primary-color-portfolio);
            }
        }

        &:active {
            color: var(--dark-color-portfolio) !important;
            background-color: var(--primary-color-portfolio);
        }

        span {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;

            svg {
                width: 28px;
                height: 28px;
                aspect-ratio: 1/1;
                fill: var(--dark-color-portfolio);
            }
        }
    }

    &.btn-secondary {
        height: 32px;
        padding: 8px 16px;
        color: var(--secondary-color-portfolio);

        &:hover span::before {
            animation: lineBtnSecondary 2s infinite ease-in-out;
        }

        &:active {
            color: var(--secondary-color-portfolio) !important;
            background-color: transparent;
        }

        span {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            position: relative;
            transition: all 250ms ease-in;

            &::before {
                content: "";
                height: 2px;
                width: 100%;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: var(--secondary-color-portfolio);
                pointer-events: none;
                z-index: -1;
            }

            svg {
                width: 22px;
                height: 22px;
                aspect-ratio: 1/1;
                fill: var(--secondary-color-portfolio);
            }
        }
    }

    &.btn-icon-only {
        width: min-content;
    }
}

@keyframes lineBtnSecondary {
    0% {
        width: 100%;
        left: 0;
    }
    25% {
        width: 0;
        left: 100%;
    }
    50% {
        width: 0;
        left: 0;
    }
    75% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 100%;
        left: 0;
    }
}
