:root {
    --primary-color-portfolio: #598BFF;
    --secondary-color-portfolio: #00A185;
    --text-color-portfolio: #FFFFFF;
    --dark-color-portfolio: #1E2233;
    --black-color-portfolio: #000000;
    --white-color-portfolio: #FFFFFF;
}
