:root {
    --primary-color-portfolio: #FEEC13FF;
    --secondary-color-portfolio: #CD3213;
    --dark-color-portfolio: #100508;
    --black-color-portfolio: #000000;
    --white-color-portfolio: #FFFFFF;
}
