@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('../fonts/bricolage_grotesque.ttf') format('truetype');
}

@font-face {
    font-family: 'Signika Negative';
    src: url('../fonts/signika_negative.ttf') format('truetype');
}

:root {
    --first-font-portfolio: "Bricolage Grotesque";
    --second-font-portfolio: "Signika Negative";
}
